/**************** FONTS ****************/
@charset "UTF-8";
    /**************** Admin Icons ****************/
    @font-face{
        font-family:'Admin Icons';
        src:url(../fonts/AdminCH_Symbols.eot?v3);
        src:url(../fonts/AdminCH_Symbols.eot?#iefix) format("embedded-opentype"),
        url(../fonts/AdminCH_Symbols.woff2?v3) format("woff2"),
        url(../fonts/AdminCH_Symbols.woff?v3) format("woff"),
        url(../fonts/AdminCH_Symbols.ttf?v3) format("truetype");
        font-weight:400;
        font-style:normal
    }
    /**************** Frutiger Neue ****************/
    @font-face {
        font-family: "Frutiger Neue";
        src: url("../fonts/FrutigerNeueW02-Light.woff") format("woff");
        font-style: normal;
        font-weight: 300;
    }
    @font-face {
        font-family: "Frutiger Neue";
        src: url("../fonts/FrutigerNeueW02-Regular.woff") format("woff");
        font-style: normal;
        font-weight: 400;
    }
    @font-face {
        font-family: "Frutiger Neue";
        src: url("../fonts/FrutigerNeueW02-It.woff") format("woff");
        font-style: italic;
        font-weight: 400;
    }
    @font-face {
        font-family: "Frutiger Neue";
        src: url("../fonts/FrutigerNeueW02-Bd.woff") format("woff");
        font-style: normal;
        font-weight: 700;
    }

    /**************** Open Sans ****************/
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-Light.woff") format("woff");
        font-style: normal;
        font-weight: 300;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-LightItalic.woff") format("woff");
        font-style: italic;
        font-weight: 300;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-Regular.woff") format("woff");
        font-style: normal;
        font-weight: 400;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-Italic.woff") format("woff");
        font-style: italic;
        font-weight: 400;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
        font-style: normal;
        font-weight: 600;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
        font-style: italic;
        font-weight: 600;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-Bold.woff") format("woff");
        font-style: normal;
        font-weight: 700;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-BoldItalic.woff") format("woff");
        font-style: italic;
        font-weight: 700;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-ExtraBold.woff") format("woff");
        font-style: normal;
        font-weight: 800;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
        font-style: italic;
        font-weight: 800;
    }

/**************** BASIC ****************/
* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
}
html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    line-height: 1.6;
    background: url("../img/bg-striped.png") repeat;
}
.flex {
    display: flex;
}
.container {
    margin-top: 1.357em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    -webkit-box-shadow: 0 0 60px 0 rgba(0,0,0,.6);
    box-shadow: 0 0 60px 0 rgba(0,0,0,.6);
}
.container::after {
    clear: both;
    display: table;
}
a {
    text-decoration: none;
}
li {
    font-size: 13px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix {
    clear: both;
}
/**************** HEADER ****************/
#search-field {
    display: none;
}

    /**************** SERVICE-NAVIGATION ****************/
    .nav-services {
        font-size: .85em;
        padding-top: 5px;
        margin-bottom: 6px;
    }
    .nav-services, .services-lang-contact {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-lang {
        display: inline-block;
        float: right;
        margin-left: 15px;
        margin-bottom: 15px;
        padding-left: 15px;
    }
    .nav-lang a {
        color: #454545;
        padding: 4px;
    }
    .nav-lang a.active {
        background: #e5e5e5;
    }
    .nav-service a {
        color: #454545;
        font-size: .85em;
    }
    .treecrumb .dropdown:first-child .dropdown-toggle {
        border-left: 1px solid #ccc;
        padding-left: 10px;
    }
    .treecrumb .dropdown-toggle {
        padding: 0 10px;
        line-height: 24px;
        padding-left: 30px;
        font-size: 13px;
        background: 0 0;
        color: #454545;
        border: 1px solid #ccc;
        border-left-color: transparent;
        border-right: none;
        position: relative;
        height: 27px;
    }
    .treecrumb .dropdown-toggle::after, .treecrumb .dropdown-toggle::before {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        right: -26px;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent #ccc;
        border-style: solid;
        border-width: 1.05em;
    }
    .treecrumb .dropdown-toggle::after {
        right: -25px;
        border-color: transparent transparent transparent #fff;
    }
    .nav>li>a {
        display: block;
    }
    .treecrumb .dropdown-toggle span {
        display: inline-block;
        min-width: 13px;
        margin-right: .5em;
    }
    span.icon {
        font-family: "Admin Icons";
        position: relative;
    }
    span.icon.icon--right:after {
       content: "";
    }
    .brand img {
        max-width: 252px;
        height: auto;
        margin: 0;
        padding-right: 2em;
        border-right: 1px solid #e5e5e5;
        float: left;
    }
    .brand h2 {
        color: #000;
        font-weight: 700;
        font-size: .875em;
        max-width: 310px;
        line-height: 1.3;
        margin: 0;
        padding-left: 2.5em;
        float: left;
    }
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .search-filter-container {
        flex-direction: column;
        justify-content: space-between;
    }



    /**************** MAIN-NAVIGATION ****************/
    .nav-main-container {
        display: inline;
    }
    .nav-main {
        background: linear-gradient(to bottom,#e4e4e4 0,#e2e2e2 39%,#ddd 79%,#d5d5d5 91%,#cfcfcf 95%,#bebebe 99%);
    }   
    .navbar {
        position: relative;
    }
    .nav-main.yamm .nav {
        display: flex;
        flex-direction: row;
        margin: 0 1.6em;
        border-left: 1px solid #b8b8b8;
    }

    .nav-main.yamm .nav>li>a {
        max-width: 140px;
    }
    .nav-main.yamm .nav>li>a {
        height: 70px;
        background: #e8e8e8;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e8e8e8),color-stop(61%,#f7f7f7),color-stop(89%,#f7f7f7),color-stop(91%,#f5f5f5),color-stop(95%,#ececec),to(#d7d7d7));
        background: linear-gradient(to bottom,#e8e8e8 0,#f7f7f7 61%,#f7f7f7 89%,#f5f5f5 91%,#ececec 95%,#d7d7d7 100%);
        max-width: 110px;
        color: #454545;
        font-size: .95em;
        line-height: 1.2;
        padding: 10px 9px;
    }
    .nav>li>a {
        position: relative;
        display: block;
    }
    .nav-main.yamm .nav .dropdown.current>a {
        z-index: 999;
        color: #DC0018;
        font-weight: 700;
    }
    .nav-main.yamm .nav .dropdown.active>a, .nav-main.yamm .nav .dropdown.current>a {
        background: #fff;
        border-top: 5px solid #f7001d;
        margin-top: -5px;
        height: 75px;
    }
    .nav-main.yamm .nav>li {
        border-right: 1px solid #b8b8b8;
        border-left: 1px solid #fff;
    }
    .nav-main.yamm .nav>li>a:after {
        content: "";
        font-family: "Admin Icons";
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #454545;
        font-size: .9em;
    }
    .nav-main.yamm .nav>li>a:hover {
        color: #DC0018;
        background: linear-gradient(to bottom,#fff 0,#fff 61%,#fff 89%,#fff 91%,#f3f3f3 95%,#dbdbdb 100%);
    }
        

/**************** CONTENT (MAIN) ****************/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
main {
    margin-top: 25px;
}
main h1 {
    font-size: 24px;
    font-weight: 700;
    color: #F2F7F9;
    background-color: #454545;
    margin-bottom: 0;
    margin-top: -10px;
    position: relative;
    padding: 10px 15px;
}
.overview-container {
    padding: 10px 15px;
    background-color: #D5D5D5;
}
main img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: 75% 25%;
}
.title-img {
    width: 100%;
}
.topic-container {
    margin: 20px 0;
    cursor: pointer;
    background-color: #F2F7F9;
    border-radius: 0 0 4px 4px;
    height: auto;
}
.topic-container figure {
    margin: 10px 0;
}
.topic-container figcaption  {
    position: relative;
    width: 480px;
    font-size: 35px;
    font-weight: 700;
    color: #333;
    background-color: #F2F7F9;
    border-radius: 0 8px 0 0;
    margin-top: -73px;
    padding: 5px 32px;
    z-index: 999;
}
.topic-container figure img {
    position: relative;
    height: 250px;  
    z-index: 99;
}
.topic-container ol {
    padding: 0 30px;
    display: none;
}
.topic-container ol.opened {
    display: block;
}
.topic-container ol ol, .topic-container ol ol ol {
    padding: 0 0;
    display: block;
}
.topic-container li li, .topic-container li li a {
    font-size: 1.4em;
    color: #006699;
    font-weight: 700;
    margin: 15px 0;
}
.topic-container li li li, .topic-container li li li a, topic-container li li li li, .topic-container li li li li a {
    font-size: 1.1em;
    font-weight: 400;
    margin: 0 0;
}


main .hide {
    visibility: hidden;
}
main .visible{
    visibility: visible;
}
main ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    height: auto;
}
  
main li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}
  
main li:before {
    content: counters(item, "-") " ";
    display: table-cell;
    padding-right: 0.6em;    
}
  
main li li {
    margin: 0;
}
  
main li li:before {
    font-size: 1.4em;
    content: counters(item, "-") " ";
}
main li li li:before { 
    font-size: 1.1em;
}
main li.parent:before {
    content: "";
}

    /**************** CONTACT-PAGE ****************/
    .contact-wrap {
        padding: 35px 15px;
        background-color: #F2F7F9;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
    .contact-container {
        display: flex;
        width: 48.5%;
        flex-direction: column;
    }
    .contact {
        display: inline-block;
        padding: 18px 15px;
        margin-bottom: 20px;
        height: 80px;
        background-color: #fff;
        border-radius: 4px;
        line-height: 1.4;
        -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
        box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
    }
    .contact aside {
        display: none;
        opacity: 0;
        margin-top: 20px;
    }
    .contact aside a {
        color: #006699;
    }
    .contact.open {
        animation: opened .5s forwards;
        /******** evtl. Shadow ändern ********/
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 102, 153, .4);
        box-shadow: 0 0 15px 0 rgba(0, 102, 153, .4);
    }
    .contact.open::before {
        content: " ";
        position: absolute;
        width: 400px;
        margin-top: 50px;
        border-radius: 25px;
        border-bottom: 1px solid #006699;
    }
    .contact.open>aside {
        display: block;
        max-height: 90px;
        animation: opened .3s forwards .5s;
    }
    .contact.open>h4 {
        color: #006699;
    }
    @keyframes opened {
        from { height: 0; opacity: 0; }
        to { height: 180px; opacity: 1; }
    }
    @keyframes show {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    .contact-wrap h4 {
        margin: 0;
        display: inline-block;
        font-size: 1.1em;
        font-weight: 700;
        color: #333;
        cursor: pointer;
    }

    .link-wrap {
        padding: 20px 15px;
        background-color: #fff;
        border-radius: 4px;
    }
    .link-wrapper {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .link-wrapper a::after {
        content: attr(href);
        color: #006699;
        font-weight: 700;
    }
    .link-wrapper .link-container {
        display: flex;
        width: 48.5%;
        margin: 15px 0;
        flex-direction: column;
        color: #006699;
    }
    
    /**************** READING-PAGE ****************/



/**************** FOOTER ****************/










/**************** RESPONSIVE ****************/

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media only screen and (min-width: 768px) {
    .container-main {
        margin-bottom: 90px;
    }
    header {
        padding: 0 15px 30px 15px;
    }
    .nav-main {
        min-height: 65px;
        border-top: 5px solid #dc0018;
    }
    .nav-mobile {
        display: none;
    }
    main h1 {
        font-size: 35px;
        padding: 22px 15px;
    }
    
}

@media only screen and (min-width: 992px) {
    .nav-lang {
        border-left: 1px solid #e5e5e5;
    }
}


@media only screen and (max-width: 768px) {
    main img {
        max-height: 200px;
    }
    .topic-container figcaption {
        width: 100%;
        border-radius: 0;
        font-size: 24px;
        padding: 5px 15px;
        margin-top: -55px;
    }
    .topic-container ol {
        padding: 0 0;
    }
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}
@media only screen and (max-width: 992px) {
    .contact-wrapper {
        flex-direction: column;
    }
    .contact-container {
        width: 100%;
    }
    .link-wrapper .link-container {
        width: 100%;
    }
}


@media (min-width: 1200px) {
    body:before {
        content: "desktop";
    }
}
@media (min-width: 992px) {
    body:before {
        content: "desktop";
    }
}
@media (min-width: 768px) {
    body:before {
        content: "tablet";
    }
}
body:before {
    content: "smartphone";
    display: none;
}
